<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="resumen">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>resumen</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vacunas">
      <ion-icon name="checkmark-outline"></ion-icon>
      <ion-label>vacunas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="datos">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>datos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
