ion-button {
  display: block;
  margin: 15px auto;
  width: 150px;
}

.chart {
  max-width: 400px;
  margin: 0 auto;
}

canvas {
  max-width: 500px;
}


ion-row {
  justify-content: center;
  padding-bottom: 25px;
}
