<ion-text color="dark">
  <h1 class="title">Datos COVID-19 Vicente López</h1>
</ion-text>

<ion-grid fixed>
  <ion-row class="row__container">
    <ion-col size="12" sizeMd="8" sizeLg="6">
      <ion-text color="dark">
        <h6>Resumen total:</h6>
        <span>{{this.tagDate}}: {{this.dataDate}}</span>
      </ion-text>
    </ion-col>
    <ion-col class="resumen__data" size="12" sizeMd="8" sizeLg="12">
      <ion-chip mode="ios" color="primary">
        <ion-label color="secondary">{{'Fallecidos: '}}<br>{{ this.numberDataDeath | number}}</ion-label>
      </ion-chip>
      <ion-chip mode="ios" color="primary">
        <ion-label color="secondary">{{'Confirmados: '}}<br>{{ this.numberDataConfirmed | number}}</ion-label>
      </ion-chip>
      <ion-chip mode="ios" color="primary">
        <ion-label color="secondary">{{'Sospechosos: '}}<br>{{ this.numberDataSuspicious | number}}</ion-label>
      </ion-chip>
      <ion-chip mode="ios" color="primary">
        <ion-label color="secondary">{{'Descartados: '}}<br>{{ this.numberDataDiscarded | number}}</ion-label>
      </ion-chip>
      <ion-chip mode="ios" color="primary">
        <ion-label color="secondary">{{'Recuperados: '}}<br>{{ this.numberDataRecovered | number}}</ion-label>
      </ion-chip>
      <ion-chip mode="ios" color="primary">
        <ion-label color="secondary">{{'Duplicación: '}}<br>{{ this.numberDataDuplication | number}}</ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>
  <ion-item-divider></ion-item-divider>
  <ion-row class="row__grafica">
    <ion-col size="12" sizeMd="8" sizeLg="5">
      <ion-text color="dark">
        <h6>Gráfica de resumen total de datos COVID-19</h6>
      </ion-text>
    </ion-col>
    <ion-col size="12" sizeMd="8" sizeLg="5">
      <div class="chart">
        <canvas
          baseChart
          [data]="{
            labels: [
              this.tagNameDeath,
              this.tagNameConfirmed,
              this.tagNameSuspicious,
              this.tagNameDiscarded,
              this.tagNameRecovered
            ],
        datasets: [
          { data:
            [
              this.numberDataDeath,
              this.numberDataConfirmed,
              this.numberDataSuspicious,
              this.numberDataDiscarded,
              this.numberDataRecovered,
            ],
            backgroundColor:
            [
              '#97077D',
              '#038C2A',
              '#5F1F7B',
              '#0096C2',
              '#98CE17'
            ]
          }
        ]
          }"
          [type]="pieChartType"
          [options]="pieChartOptions"
        >
        </canvas>
      </div>
    </ion-col>
    <ion-col size="12" sizeMd="8" sizeLg="5">
      <ion-text color="medium">
        <p>{{this.descriptionTag}}</p>
      </ion-text>
    </ion-col>
  </ion-row>

</ion-grid>

